<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>pinfo-servlet</servlet-name>
        <servlet-class>mall.PersonalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pinfo-servlet</servlet-name>
        <url-pattern>/pinfo</url-pattern>
    </servlet-mapping>
</web-app>