<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"> 
    <servlet>
        <servlet-name>fibonacci-servlet</servlet-name>
        <servlet-class>FibonacciServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>fibonacci-servlet</servlet-name>
        <url-pattern>/fibonacci</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>greeting-servlet</servlet-name>
        <servlet-class>GreetingServlet</servlet-class>
        <init-param>
            <param-name>FILE_NAME</param-name>
            <param-value>C:\\data\\greeting_log.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>greeting-servlet</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>dbname-jsp</servlet-name>
        <jsp-file>/DBName.jsp</jsp-file>
        <init-param>
            <param-name>DB_NAME</param-name>
            <param-value>malldb</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbname-jsp</servlet-name>
        <url-pattern>/dbname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>server-info-servlet</servlet-name>
        <servlet-class>ServerInfoServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>server-info-servlet</servlet-name>
        <url-pattern>/server-info</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>DB_NAME</param-name>
        <param-value>bankdb</param-value>
    </context-param>
</web-app>
