<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">    
    <filter>
        <filter-name>simple-filter</filter-name>
        <filter-class>myfilter.SimpleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>simple-filter</filter-name>
        <url-pattern>/sub1/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>simple-servlet</servlet-name>
        <servlet-class>myservlet.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simple-servlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>log-filter</filter-name>
        <filter-class>myfilter.LogMessageFilter</filter-class>
        <init-param>
            <param-name>FILE_NAME</param-name>
            <param-value>C:\\logs\\myfilter.log</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>log-filter</filter-name>
        <url-pattern>/sub2/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>new-log-filter</filter-name>
        <filter-class>myfilter.NewLogMessageFilter</filter-class>
        <init-param>
            <param-name>FILE_NAME</param-name>
            <param-value>C:\\logs\\newfilter.log</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>new-log-filter</filter-name>
        <url-pattern>/sub3/*</url-pattern>
    </filter-mapping>    
    <filter>
        <filter-name>login-check-filter</filter-name>
        <filter-class>myfilter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>  
        <filter-name>login-check-filter</filter-name>
        <url-pattern>/member/*</url-pattern>
    </filter-mapping>    
    <filter>
        <filter-name>param-upper-filter</filter-name>
        <filter-class>myfilter.ParamUpperCaseFilter</filter-class>
    </filter>
    <filter-mapping>  
        <filter-name>param-upper-filter</filter-name>
        <url-pattern>/sub4/*</url-pattern>
    </filter-mapping>    
    <filter>
        <filter-name>cookie-lower-filter</filter-name>
        <filter-class>myfilter.CookieLowerCaseFilter</filter-class> 
    </filter> 
    <filter-mapping>  
        <filter-name>cookie-lower-filter</filter-name>
        <url-pattern>/sub5/*</url-pattern>
    </filter-mapping>    
    <filter>
        <filter-name>word-replace-filter</filter-name>
        <filter-class>myfilter.ContentWordReplaceFilter</filter-class>
    </filter>
    <filter-mapping> 
        <filter-name>word-replace-filter</filter-name>
        <url-pattern>/sub6/*</url-pattern>
    </filter-mapping>    
</web-app>        
 